mail:
  subject_prefix: "Critical Alert | Maxis | Malaysia | SMSFW APP KEPONG"
  smtp_server: "10.200.58.80"
  smtp_port: 25
  from_email: "critical-alerts-gtsfw@maxis.com.my"
  to_emails:
    - "projectintern01@gtstechlabs.com"
    - "projectintern02@gtstechlabs.com"
    - "vishal.p@gtstechlabs.com"
    - "prakruthi.kr@gtstechlabs.com"
    - "vijeth.raaghu@gtstechlabs.com"
    - "suresh.c@gtstechlabs.com"
    - "arjun@gtstechlabs.com"

mail_report:
  subject_prefix: "Maxis | Malaysia | SMSFW APP KEPONG | SMS App Server 02 - System Report"
  smtp_server: "10.200.58.80"
  smtp_port: 25
  from_email: "reports-gtsfw@maxis.com.my"
  to_emails:
    - "projectintern01@gtstechlabs.com"
    - "projectintern02@gtstechlabs.com"
    - "vishal.p@gtstechlabs.com"
    - "prakruthi.kr@gtstechlabs.com"
    - "vijeth.raaghu@gtstechlabs.com"
    - "suresh.c@gtstechlabs.com"
    - "arjun@gtstechlabs.com"

traffic_monitor:
  smpp:
    db_host: "172.19.133.162"
    db_port: 5432
    db_name: "armour_firewall"
    db_user: "postgres"
    db_password: "postgres"
    table: "public.smpp_cdr_data"
    timestamp_column: "time_stamp"
    inactivity_threshold_seconds: 120

  ss7:
    db_host: "172.19.133.162"
    db_port: 5432
    db_name: "armour_firewall"
    db_user: "postgres"
    db_password: "postgres"
    table: "public.ss7_log"
    timestamp_column: "time_stamp"
    inactivity_threshold_seconds: 120

ping_check:
  target_ip: "172.19.133.160"
  cooldown_seconds: 1800
  server_name: "Maxis SMS KEPONG App Server 02"
  state_file_dir: "/data/appserver_02_script/state"


ss7_connection_check:
  expected:
    tcap: 10
    link: 2
    m3ua: 4
  server_name: "Maxis SMS KEPONG App Server 02"
  working_dir: "/usr/local/aculab/v6"
  cooldown_seconds: 300
  state_file_dir: "/data/appserver_02_script/state"


uptime_check:
  threshold_minutes: 8
  cooldown_seconds: 300
  server_name: "Maxis SMS KEPONG App Server 02"
  state_file_dir: "/data/appserver_02_script/state"

ss7_monitor:
  server_name: "Maxis SMS KEPONG App Server 02"
  watch_dir: "/data/armour/rule_engine/SS7_CDR/CDR_RawFiles/"
  cooldown_seconds: 300
  check_interval_seconds: 300
  state_file_dir: "/data/appserver_02_script/state"

cfg_monitor:
  cfg_base_path: "/data/armour/ss7/cfg/armour_1002"
  cfg_count: 10
  check_interval_seconds: 60
  cooldown_seconds: 300
  server_name: "Maxis SMS KEPONG App Server 02"
  state_file_dir: "/data/appserver_02_script/state"

cpu_monitor:
  threshold: 80
  monitor_duration: 1
  cooldown_seconds: 300
  server_name: "Maxis SMS KEPONG App Server 02"
  state_file_dir: "/data/appserver_02_script/state"

smpp_monitor:
  server_name: "Maxis SMS KEPONG App Server 02"
  cooldown_seconds: 3600
  check_interval_seconds: 60
  state_file_dir: "/data/appserver_02_script/state"
  match_patterns:
    - "[ERROR]"
  ignore_patterns:
    - "IOException Not Connected"
    - "java.io.IOException: Not connected"
    - "java.net.SocketException"
    - "java.lang.NullPointerException"
    - "Got IOException in receive() function"
  instances:
    "AAG":
      path: "/data/armour/smpp/armour_smsc/bin/AAG/log/ARMOUR_SMPP.log"
    "Nilai":
      path: "/data/armour/smpp/armour_smsc/bin/SMSC_Nilai/log/ARMOUR_SMPP.log"
    "Rawang":
      path: "/data/armour/smpp/armour_smsc/bin/SMSC_Rawang/log/ARMOUR_SMPP.log"


ha_monitor:
  server_name: "Maxis SMS KEPONG App Server 02"
  check_interval_seconds: 60
  state_file_dir: "/data/appserver_02_script/state"
  cooldown_seconds: 300
  services:
    - haproxy
    - keepalived

service_monitor:
  server_name: "Maxis SMS KEPONG App Server 02"
  check_interval_seconds: 10
  state_file_dir: "/data/appserver_02_script/state"
  services:
    # - name: "PostgreSQL 16"
    #   check_command: "systemctl is-active postgresql-16"
    #   check_interval_seconds: 600        # Check every 10 minutes
    #   cooldown_seconds: 1800
    # - name: "Apache NiFi"
    #   check_command: "ps -ef | grep nifi | grep -v grep"
    #   check_interval_seconds: 600        # Check every 10 minutes
    #   cooldown_seconds: 1800
    - name: "Java"
      check_command: "ps -ef | grep java | grep -v grep"
      check_interval_seconds: 60        # Check every 10 minutes
      cooldown_seconds: 300
    - name: "Tomcat"
      check_command: "ps -ef | grep tomcat | grep -v grep"
      check_interval_seconds: 60        # Check every 10 minutes
      cooldown_seconds: 300
    - name: "Kafka"
      check_command: "ps -ef | grep kafka | grep -v grep"
      check_interval_seconds: 60       # Check every 10 minutes
      cooldown_seconds: 300
    # - name: "Apache Superset"
    #   check_command: "ps -ef | grep superset | grep -v grep"
    #   check_interval_seconds: 600        # Check every 10 minutes
    #   cooldown_seconds: 1800
    - name: "Zookeeper"
      check_command: "ps -ef | grep zookeeper | grep -v grep"
      check_interval_seconds: 60        # Check every 10 minutes
      cooldown_seconds: 1800

smpp_cdr_monitor:
  server_name: "Maxis SMS KEPONG App Server 02"
  watch_dir: "/data/armour/smpp/SMPP_CDR/CDR_RawFiles"
  cooldown_seconds: 300
  check_interval_seconds: 300
  state_file_dir: "/data/appserver_02_script/state"

storage_monitor:
  server_name: "Maxis SMS KEPONG App Server 02"
  state_file_dir: "/data/appserver_02_script/state"
  check_interval_seconds: 60
  directories:
    "/":
      threshold: 70
      cooldown_seconds: 300
    "/data":
      threshold: 70
      cooldown_seconds: 300
    "/tmp":
      threshold: 70
      cooldown_seconds: 300
    "/var":
      threshold: 70
      cooldown_seconds: 300
    "/home":
      threshold: 70
      cooldown_seconds: 300
    "/backup":
      threshold: 70
      cooldown_seconds: 300
    "/run":
      threshold: 70
      cooldown_seconds: 300

trace_responces:
  server_name: "Maxis SMS KEPONG App Server 02"
  log_dir: "/data/armour/ss7/log/"
  state_file_dir: "/data/appserver_02_script/state"
  filename_prefix: "armour_1002"
  patterns:
    - label: 'SRI Request MWA'
      grep: 'Payload[^ ]*.*"message_type":5'
      check_interval_seconds: 1800
      cooldown_seconds: 300

    - label: 'SRI Request RE'
      grep: 'Armour Response[^ ]*.*"message_type":5'
      check_interval_seconds: 1800
      cooldown_seconds: 300

    - label: 'MT Forward Message Responce'
      grep: 'Payload[^ ]*.*"message_type":4'
      check_interval_seconds: 1800
      cooldown_seconds: 300

    - label: 'MO Messages'
      grep: 'Payload[^ ]*.*"message_type":3'
      check_interval_seconds: 1800
      cooldown_seconds: 300

    - label: 'MO Messages Response'
      grep: 'Received Forward ShortSM for MOSMS Response'
      check_interval_seconds: 1800
      cooldown_seconds: 300

    - label: 'MT Messages'
      grep: 'Armour Response[^ ]*.*"message_type":2'
      check_interval_seconds: 1800
      cooldown_seconds: 300

    - label: 'SRI Message response'
      grep: 'Armour Response[^ ]*.*"message_type":1'
      check_interval_seconds: 1800
      cooldown_seconds: 300

jar_monitor:
  server_name: "Maxis SMS KEPONG App Server 02"
  check_interval_seconds: 60
  cooldown_seconds: 300
  state_file_dir: "/data/appserver_02_script/state"
  processes:
    "armourSMPP_23_10_25_Maxis_Nilai.jar": 60
    "armourSMPP_23_10_25_Maxis_Rawang.jar": 60
    "armourSMPP_23_10_25_Maxis_AAG.jar": 60

trace_monitor:
  server_name: "Maxis SMS KEPONG App Server 02"
  trace_dir: "/data/armour/ss7/log"
  filename_prefix: "armour_1002"
  check_interval_seconds: 20
  cooldown_seconds: 300
  max_idle_seconds: 20
  trace_file_count: 10
  latency_threshold: 2000
  state_file_dir: "/data/appserver_02_script/state"

memory_monitor:
  server_name: "Maxis SMS KEPONG App Server 02"
  state_file_dir: "/data/appserver_02_script/state"
  threshold: 70
  check_interval_seconds: 60
  cooldown_seconds: 300

log:
  directory: "/data/appserver_02_script/logs"
  state_file_dir: "/data/appserver_02_script/state"
  filename_prefix: "appserver01"
  timestamp_format: "%Y-%m-%d_%H-%M-%S"
  extension: ".txt"
